.card--container {
    border: 5px solid yellow;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 500px;
    header {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1fr;
        justify-items: center;
        align-content: center;
        height: 30px;
        img {
            width: 30px;
            height: 30px;
            border-radius: 20px;
            position: relative;
            top: 15px;
        }
        p {
            font-weight: bolder;
        }
        .type {
            background-color: black;
            height: 30px;
            width: 30px;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 15px;
            img {
                height: 20px;
                width: 20px;
                position: relative;
                top: 0px;
            }
        }
    }
    main {
        display: flex;
        justify-content: center;
        img {
            width: 80%;
            border-radius: 20px;
            border: 2px solid yellow;
        }
    }
    footer {
        width: 100%;
        ul {
            width: 80%;
            li {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                h5 {
                    position: absolute;
                    left: 55px;
                    font-size: 30px;
                }
                p {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}
.hidden {
    visibility: hidden;
}
